.noUserContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #414141;
}
.actionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  height: 40vh;
  width: 60vh;
  border-radius: 5px;
}
.buttonRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40vh;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 5%;
}
.linkButton {
  color: white;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  width: 100px;
  transition: 0.5s;
  flex: 1;
}
.linkButton:hover {
  color: white;
  transition: 0.5s;
  flex: 2;
}
.login {
  background-color: #3b5998;
}
.login:hover {
  background-color: #537bd1;
}
.register {
  background-color: #ca4444;
}
.register:hover {
  background-color: #fa5252;
}
