.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
  background-color: #131313;
}

.centerList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60vh;
  width: 50vw;
  padding: 2rem 2rem;
  border: 1px solid #414141;
  border-radius: 10px;
  min-width: max-content;
}

input {
  width: 100%;
}
